@import 'media';

@import 'base/variables';
@import 'base/anim';
@import 'base/btn';
@import 'base/mixins';


@import 'sections/header/header';
@import 'sections/header/header-main';
@import 'sections/slider-main/slider-main';
@import 'sections/variables/content';

@import 'img/img';


* {
    font-family: 'Montserrat Alternates', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
}

svg:not(:root) {
    overflow: hidden;
}

.pageup {
	opacity: 0;
	position: fixed;
	bottom: 40px;
	right: 5%;
	border: 2px solid $main-color;
	color: $main-color;
	height: max-content;
	min-height: 55px;
	width: 55px;
	border-radius: 50%;
	z-index: 33;
	background: hsla(0, 0%, 100%, .6);
	padding: 0;
	transition: 1s all;
}
.pageup svg {
	fill: $main-color;
	transition: .3s;
	transform: scale(1.5);
	margin-left: 20px;
	margin-top: calc(50% - 7px);
}

body > .flow-container {
    position: relative;
}

.flow-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: 100%;
    // height: 100vh;
    // overflow-y: auto;
    // overflow-x: hidden;
}

header.main-header1 {
	display: flex;
	position: fixed;
	z-index: 999;
    background: #fff;
    width: 100vw;
}

.container {
    max-width: 1140px;
    margin: auto;
}
.main-container {
	position: relative;
	margin: auto;
	max-width: 1140px;
}



.content {
	margin-top: 135px;
    position: relative;
    flex: 1 0 auto;
    min-height: 0;
    background: #fff;
}